
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Genre</h1>

<f:flashMessages />

<table  class="tx_formationmovie" >
	<tr>
		<th><f:translate key="tx_formationmovie_domain_model_genre.value" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{genres}" as="genre">
		<tr>
			<td><f:link.action action="show" arguments="{genre : genre}"> {genre.value}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{genre : genre}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{genre : genre}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Genre</f:link.action>
</f:section>